<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width" />*@
    <title>Inspire</title>
    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@
    
    
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.0/yeti/bootstrap.min.css" rel="stylesheet">
    <!--
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-sanitize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
    <script src="/Scripts/angularApp.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/Controllers/home.js"></script>
    <script src="/Scripts/Controllers/posts.js"></script>
    <script src="/Scripts/Controllers/navigator.js"></script>
    <script src="/Scripts/Controllers/feed.js"></script>
    <script src="/Scripts/Controllers/channels.js"></script>
    <script src="/Scripts/Controllers/searchresults.js"></script>
    <script src="/Scripts/Controllers/channelSearchResults.js"></script>
    <script src="/Scripts/Controllers/profile.js"></script>
    <script src="/Scripts/Controllers/channel.js"></script>
    <script src="/Scripts/Controllers/rssFeeder.js"></script>
    <script src="/Scripts/Services/tags.js"></script>
    <script src="/Scripts/Services/posts.js"></script>
    <script src="/Scripts/Services/users.js"></script>
    <script src="/Scripts/Services/feeds.js"></script>
    <script src="/Scripts/Services/channels.js"></script>
    <script src="/Scripts/Services/rssFeeders.js"></script>
    
    <style>
        .glyphicon-thumbs-up {
            cursor: pointer;
        }
        a[ng-click] {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class=""> @*container body-content*@
        @RenderBody()
        <hr />
        <footer>

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
