<div ng-repeat="post in posts | orderBy:'-created'">
    <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(post)"></span>
    {{post.Upvotes}}
        <span style="font-size:20px; margin-left:10px;">
          <a ng-show="post.Uri" href="{{post.Uri}}">
              {{post.Title}}
          </a>
          <span ng-hide="post.Uri">
            {{post.Title}}
          </span>
        </span>
    <div style="margin-left:40px;">
        {{post.Description}}
    </div>
    <div style="margin-left:40px;">
        <span style="font-weight: bold" ng-repeat="tag in post.Tags">{{tag}} <a href="" ng-show="!follows(tag)" ng-click="follow(tag)">[+]</a> <a href="" ng-show="follows(tag)" ng-click="unfollow(tag)">[-]</a></span>
    </div>
    <div style="margin-left:40px;">
        <span>{{post.Created | date:'dd/MM/yyyy'}} </span>
    </div>
    <div style="margin-left:40px;">
        <a href="#" ng-click="savePost(post)">Save</a>
    </div>
</div>
