<div class="page-header">
    <h3>
        <a ng-show="post.Uri" href="{{post.Uri}}">
            {{post.Title}}
        </a>
      <span ng-hide="post.Uri">
        {{post.Title}}
      </span>
    </h3>
</div>

<div style="margin-bottom:20px">{{post.Id}}</div>

<div ng-bind-html="post.Description" style="margin-bottom:20px"/>

<div>
    <span style="font-weight: bold" ng-repeat="tag in post.Tags">{{tag}} </span>
</div>

<div style="margin-top: 20px">
    <div ng-repeat="comment in post.Comments | orderBy:'Created'" style="background: #E8E8E8; margin-top: 1px;font-size: medium;">
        <!--<span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(comment)"></span>-->
        <div>
            <a href="#/profile/{{comment.UserId}}">{{comment.Author}}</a>
            <span style="font-size:medium; margin-left:2px;">
                {{comment.Body}}
            </span>
        </div>
        <div style="color: #888888; font-size: small">{{comment.CreatedHoursAgo}} hours ago <a>Reply</a></div>
    </div>

    <form ng-submit="addComment()"
          style="margin-top:30px;">
        <h3>Add a new comment</h3>

        <div class="form-group">
            <input type="text"
                   class="form-control"
                   placeholder="Comment"
                   ng-model="body"></input>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
    </form>
</div>
