
<h4>Channels</h4>    
<div ng-repeat="channel in user.Owns" style="margin-left: 20px">
    <div ng-show="channel.IsLocked">
        <a href="#/home/{{channel.Id}}">
            {{channel.Name}} <span ng-show="channel.ShowUnreadCounter && totalUnreadCount(channel) > 0"> ({{totalUnreadCount(channel)}})</span>
        </a>
        <div ng-repeat="sub in channel.Subscriptions" style="margin-left: 10px">
            <a href="#/home/{{sub.Id}}">
                {{sub.Name}} <span ng-show="sub.ShowUnreadCounter && sub.UnreadCount > 0"> ({{sub.UnreadCount}})</span>
            </a>
        </div>
    </div>    
</div>

<div style="margin-top:10px">
    <div ng-repeat="channel in user.Owns" style="margin-left: 20px">
        <div ng-show="!channel.IsLocked">
            <a href="#/home/{{channel.Id}}">
                {{channel.Name}} <span ng-show="channel.ShowUnreadCounter && totalUnreadCount(channel) > 0"> ({{totalUnreadCount(channel)}})</span>
            </a>
            <div ng-repeat="sub in channel.Subscriptions" style="margin-left: 10px">
                <a href="#/home/{{sub.Id}}">
                    {{sub.Name}} <span ng-show="sub.ShowUnreadCounter && sub.UnreadCount > 0"> ({{sub.UnreadCount}})</span>
                </a>
            </div>
        </div>        
    </div>
</div>