<div class="page-header">
    <h3>
        Channel: {{channel.Name}}
    </h3>
</div>

<div style="margin-bottom:50px">
    <h4>Privacy</h4>
    <div class="row">
        <div class="col-md-2">
            <span>Private</span>
        </div>
        <div class="col-md-2">
            <input type="checkbox" ng-model="channel.IsPrivate">
        </div>
    </div>
</div>

<div style="margin-bottom:50px">
    <div>
        <h4>RSS Feeders</h4>
        <div ng-repeat="feeder in channel.RssFeeders">
            {{feeder.Url}} <a href="#/editrssfeeder/{{feeder.Id}}">Edit</a> <a ng-click="removeRssFeeder(feeder)">Remove</a>
        </div>
    </div>

    <div>
        <form ng-submit="addRssFeeder()" style="margin-top:30px;">
            <h5>Add a new RSS feeder</h5>

            <div class="form-group">
                <input type="text"
                       class="form-control"
                       placeholder="Url"
                       ng-model="rssfeederUrl"></input>
            </div>
            <button type="submit" class="btn">Add</button>
        </form>


    </div>
</div>


<div style="margin-bottom:50px">
    <h4>Subscriptions</h4>
    <div ng-repeat="child in channel.Subscriptions">
        {{child.Name}} <a ng-click="removeSubscription(child)">Remove</a>
    </div>
</div>

<div>
    <button class="btn btn-primary" ng-click="saveChanges()">Save changes</button>
    <a href="#/editchannel/{{channel.Id}}" class="btn btn-default">Cancel</a>
</div>
