<div>
    
    This short manual will explain all the features in the prototype.<br/>
    <br/>
    To sum it up, this is a news aggegator site with a social twist. <br/>
    Our ambition is to deliver more personalized and relevant news to you than is possible with other news aggegators.<br/>
    
    <h5>Channel</h5> 
    News articles (hereafter called posts) are coming into the system via channels.<br/>
    You can see your current channels on the left. You can create new channels on the profile page (see below)<br/>
    Content are coming into a channel by users posting content by clicking <button class="btn btn-default">Add link</button> or by re-publishing content from other channels 
    by clicking <button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-share"></span> Publish</button> on a post or by an RSS feeder that has been attached to the channel.<br/>
    The set of users that have access to post content into the channel are called collaborators. A user becomes collaborator by having created the channel or having been granted access by another collaborator.<br/>
    A channel can be public/private. A private channel can only be seen by collaborators.<br/>
    
    <h5>Post</h5>

    <h5>Profile</h5> 
    Clicking on your name in the top right corner brings you to your profile page.<br/>
    On the profile page you can create/delete your personal channels.<br/>
    <br/>
    You can also grant other users access to a personal channel by clicking <button class="btn btn-default btn-xs">
    <span class="glyphicon glyphicon-share"></span> Grant user access to ...
</button> This allows them to post content in the channel.<br/>

</div>