<div class="page-header">
    <h3>{{profile.DisplayName}}</h3>
</div>


<jqcloud words="profile.TagCloud" width="500" height="150" delay="10" steps="7" font-size="{from:0.09, to:0.04}"></jqcloud>

<div>
    <h4>Privacy</h4>
    <button class="btn btn-default btn-xs" ng-click="grantaccess()">
        <span class="glyphicon glyphicon-share"></span> Grant user access to ...
    </button>
</div>

<div ng-show="profile.Id == user.Id">
    <h4>Read history</h4>
    <a href="#/readhistory">See recent read history</a>
</div>

<div ng-show="profile.Id == user.Id">
    <h4>Settings</h4>
    <form>
        <div class="checkbox">
            <label><input type="checkbox" ng-model="user.IsPremium">Premium user</label>
        </div>
        <button ng-click="saveChanges()" class="btn btn-primary">Save changes</button>
    </form>
</div>

