<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings>
    <!--<add name="Sql.ConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Identity;Integrated Security=True;;Connect Timeout=30" providerName="System.Data.SqlClient"/>-->
    <add name="Sql.ConnectionString" connectionString="Data Source=v5kf9wt87u.database.windows.net;Initial Catalog=Identity;Persist Security Info=True;User ID=jweibel;Password=MiInPw01;Connect Timeout=30" providerName="System.Data.SqlClient"/>
  </connectionStrings>  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <log4net>
    <root>
      <priority value="ALL"/>
      <appender-ref ref="CompleteRollingFileAppender"/>
    </root>
    <appender name="CompleteRollingFileAppender" type="log4net.Appender.RollingFileAppender, log4net">
      <filter type="log4net.Filter.LevelRangeFilter">
        <level value="ALL"/>
      </filter>
      <file value="c:\\DC\\Logs\\Identity.Fetcher.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10000KB"/>
      <staticLogFileName value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%5thread] [%15P{dbv}] [%15P{isv}] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
  </log4net>
</configuration>
