<div ng-app="inspire">

    <div ui-view="header"></div>

    <div class="row" style="margin-top:50px">
        <div class="col-md-3">
            <div ui-view="channels" class="nav nav-stacked affix"></div>
        </div>
        <div class="col-md-6">
            <div ui-view="container"></div>
        </div>
    </div>


</div>
